body{
  background: #fafafa;
  color: #333333;
  margin-top: 4rem;
  text-decoration: none;}

#navbar{
  background-color: rgba(0, 0, 0, 0.9);}

#navbar-expand{
  background-color: rgba(0, 0, 0, 0.9);}

.navbar-brand{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 140%;}

h1, h2, h3, h4, h5, h6{
  color: #444444;}

.site-header .navbar-nav .nav-link{
  color: #cbd5db;}

.site-header .navbar-nav .nav-link:hover{
  color: #ffffff;}

.site-header .navbar-nav .nav-link.active{
  font-weight: 500;}

.newest-followed-buttons{
  margin: 0% 8% 0% 8%;}

#newpost-form{
  margin: 0% 8% 0% 8%;}

.content-section{
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 9px;
  margin: 0% 8% 1% 8%;}

#profile-section-container{
  margin: 1% 10% 0% 10%;}

#profile-section-username-header{
  font-size: 150%;
  font-weight: 400;}

.box{
  padding: 0px 5px 0px 5px;
  min-width: 100%;}
 
.article-title{
  padding: 0px 20px 0px 20px;
  color: #444444;
  text-decoration: none;
  font-size: 90%;}

a.article-title:hover{
  color: rgb(63, 130, 189);
  text-decoration: none;}

.article-content{
  white-space: pre-line;
  text-decoration: none;}

.article-img{
  height: 65px;
  width: 65px;}

.account-img{
  height: 100px;
  width: 100px;}

.account-heading{
  font-size: 2.5rem;}

#unfollow-icon, #follow-icon, #message-icon{
  position: relative;
  top: 3px;
  font-size: 150%;}

#unfollow-icon, #follow-icon{
  color: rgba(200, 0, 0, 0.75);}

#message-icon{
  color: rgb(60, 130, 190);}

#follow-button, #unfollow-button, #message-button, #edit-profile-button{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 7px 15px 7px 10px;}

#edit-profile-button{
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;}

#edit-profile-icon{
  color: rgb(60, 130, 190);;}

.fab{
  font-size: 25px;}

.far{
  font-size: 20px;}

.big-banner{
  background-image: url('../static/pics/welcome.JPG')}

#like-comment-icon-box{
  left: -5vh;}

#comment-box{
  padding: 0vh 5vh 0vh 0vh;
  max-width: 600px;}

.comment-options-collapse-icon{
  font-size: 10px;
  color: grey;}

.comment-option-icon{
  font-size: 18px;}

.edit-icon, #add-comment-icon{
  color: rgb(60, 130, 190);}

.delete-icon{
  color: rgb(139, 0, 0);}

.heart-icon, .heartbeat-icon{
  font-size: 110%;
  color: rgba(200, 0, 0, 0.75);}

.comment-icon{
  font-size: 110%;
  color: rgba(0, 0, 0, 0.5);}

#add-comment-container{
  height: 33px;
  position: relative;
  top: 3px;}

#add-comment-icon{
  position: relative;
  top: 1px;
  padding: 0px 0px 0px 10px;
  font-size: 70%;}

#add-comment-button{
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  padding-left: 0;}

#upload-comment-container{
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 3px 10px 0px 10px;
  position: relative;
  left: 23px;}

#upload-comment-button{
  color:rgba(0, 0, 0, 0.6);
  font-weight: 500;
  padding: 0px 0px 0px 0px;}

#comment-text-field{
  width: 132%;
  position: relative;
  left: -25px;
}

.following-newest-button-active, .following-newest-button-disabled, .newpost-button{
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;}

.following-newest-button-active{
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 2px;}

.following-newest-button-disabled{
  color: rgba(0, 0, 0, 0.35);
  font-size: 80%;}

.following-newest-button-active:hover, .following-newest-button-disabled:hover, .newpost-button:hover{
  color: rgb(63, 130, 189);
  text-decoration: none;}

.newpost-button{
  color: rgba(0, 0, 0, 0.6);}

.pen-icon{
  color: rgb(60, 130, 190);}

.username{
  color: rgb(59, 120, 173);}

#chevron-icon{
  color: rgba(0, 0, 0, 0.5);
  top: -5%;}

#upload-post-button{
  border: none;
  background-color:rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.57);
  font-weight: 500;
  margin-top: 2px;}

#upload-icon{
  margin: 6px 6px 0px 0px;
  color: rgb(60, 130, 190);
  font-size: 120%;}

#upload-post-container{
  margin-top: 2px;}




@media (max-width: 600px){
  .article-img{
    height: 40px;
    width: 40px;}

  .post-metadata{
    font-size: 90%;}

  .userlist-email{
    display: none;}

  .article-img{
    height: 50px;
    width: 50px;}

  #comment-box{
    padding: 0vh 2vh 0vh 0vh;}

  .content-section{
    margin: 0% 1% 1% 1%;}

  #profile-section-container{
    margin: 1% 1% 0% 1%;}

  .newest-followed-buttons{
    margin: 0px 5px 0px 5px;}

  #newpost-form{
    margin: 0% 1% 0% 1%;}

}



@media (min-width: 600px){
  .post-content{
    margin-left: 75px;}

}




@media (max-width: 330px){
  .date{
    display: none;}

  #like-comment-icon-box{
   margin: 0px;
   padding: 0px 0px 0px 20px;}
}