.welcome-legend{
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 5px;
  font-weight: 300;
  font-size: 140%;}

#welcome-heading-container{
  margin: 7vh 0vh 7vh 0vh;
  position: relative;
  top: 0;}

#welcome-header{
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  letter-spacing: 7px;
  font-weight: 300;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);}

#welcome-slang{
  color: rgba(255, 255, 255, 0.7);}

#sign-in-icon{
  color: rgba(185, 0, 0, 0.9);
  font-size: 92%;}

#testing-acc-login, #need-acc-forgot-pswd, #remember-me, #already-registered{
  color: rgba(255, 255, 255, 0.8);}

.testing{
  color: rgba(255, 255, 255, 0.5);
  font-size: 70%;}

section{
  background: url(pics/welcome.JPG);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;}

section .box{
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  width: 95%;
  background: rgba(10, 10, 10, 0.7);}




@media(min-width: 600px){
  #welcome-header{
    font-size: 400%;}

  #welcome-heading-container{
    padding-top: 7%;}
}