{% extends "main/profile_section.html" %}

{% block content %}

    <div class="content-section text-center">
        <form class="justify-content-center" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mb-0 mt-3">
                
                <div class="row mt-1 mb-3">
                    <!--profile pic update label-->
                    <div class="col-3">
                        {{ form.picture.label(class="form-control-label small text-muted mt-1") }}
                    </div>

                    <!-- upload picture field -->
                    <div class="col">
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>


                <div class="row form-group">
                    <!-- update username label -->
                    <div class="col-3">
                        {{ form.username.label(class="form-control-label small text-muted mt-1") }}
                    </div>

                    <!-- update username field -->
                    <div class="col">
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                </div>


                <div class="row form-group">
                    <!-- update email label -->
                    <div class="col-3">
                        {{ form.email.label(class="form-control-label small text-muted mt-1") }}
                    </div>

                    <!-- update email field-->
                    <div class="col">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                </div>


                <div class="row form-group">
                    <!-- update bio label -->
                    <div class="col-3">
                        {{ form.bio.label(class="form-control-label small text-muted mt-1") }}
                    </div>

                    <!-- update bio field-->
                    <div class="col">
                        {% if form.bio.errors %}
                            {{ form.bio(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.bio.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.bio(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                </div>

                <!-- submit button -->
                <div class="row justify-content-center">
                    <div class="text-center form-group">
                        {{ form.submit(class="btn btn-sm btn-info mt-4") }}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}