{% extends "main/navbar.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-11">

            <!--message form-->
            <form class="mt-2" method="POST">
                <legend class="text-center">Message to {{ recipient }} </legend>
                {{ message_form.hidden_tag() }}
                <fieldset class="form-group"> 

                    <!--message field validation-->
                    {% if message_form.message.errors %}
                        {{ message_form.message(class="form-control is-invalid") }}
                        <div class="ivalid-feedback">
                        {% for error in message_form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        <!-- message form itself -->
                        {{ message_form.message(class="form-control") }}
                    {% endif %}
                </fieldset>

                <!-- submit button -->
                <div class="mt-4 text-center form-group">
                    {{ message_form.submit(class="btn btn-info") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}