{% extends "main/layout_welcome.html" %}      

{% block content %}
    <div class="row content-section justify-content-center">
        <div id="welcome-heading-container">
            <div class="row">
                <h1 id="welcome-header">SOUNDGRAM</h1><br><br>
            </div>
            <div class="row justify-content-center mt-1">
                <i class="small" id="welcome-slang">all you need from the internet</i>
            </div>
        </div>

        <div class="box">
            <div class="col pr-5 pl-5">
                <legend class="mb-3 pt-3 text-center welcome-legend">Reset your password</i></legend>
                <form method="POST">
                    {{ form.hidden_tag() }}

                    <fieldset class="form-group">
                        <!-- email field validation-->
                        <div class="form-group">
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-md") }}
                            {% endif %}
                        </div>
                    </fieldset>

                    <!-- submit button -->
                    <div class="form-group pl-3 mb-4 text-center">
                        {{ form.submit(class="btn btn-sm btn-outline-light") }}
                    </div>
                </form>

                <!-- need account? -->
                <div class="text-center mt-3 pb-0">
                    <small id="need-acc-forgot-pswd">
                        Need account? <a href="{{ url_for('users.register')}}">Create one!</a><br>
                        Already registered? <a class="ml-2" href="{{ url_for('users.login')}}">Sign in!</a>
                    </small>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



