{% extends "main/layout_welcome.html" %}      

{% block content %}

    <div class="row content-section justify-content-center">

        <div class="box">
            <div class="box-dimmed">
                <div class="col"> 
                </div>
            
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                
                    <fieldset class="form-group">
                        <p class="ml-2 pt-5 pb-3 welcome_legend text-center">Reset password token will be sent to your e-mail adress</p>
                    
                        <!-- email field validation-->
                        <div class="form-group">

                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-md") }}
                            {% endif %}
                        </div>
                    
                    </fieldset>
                
                    <!-- submit button -->
                    <div class="form-group pl-3 mb-5 text-center">
                        {{ form.submit(class="btn btn-sm btn-outline-light") }}
                    </div>
                
                    <!-- need account?-->
                    <div class="text-center pb-3">
                        <small class="welcome_legend ml-3">
                            Need account? <a class="" href="{{ url_for('users.register')}}">Create one</a>
                        </small>
                    </div>
                </form>
            
                <div class="col">
                </div>
            </div>
        </div>
    </div>

{% endblock %}


<div class="pt-3 pb-3 pl-3">
    <small class="text-muted">
        Need account? <a class="ml-2" href="{{ url_for('users.login')}}">Create one</a>
    </small>
</div>




