{% extends "main/layout_welcome.html" %}      

{% block content %}

    <div class="row content-section justify-content-center">

        <div class="box">
            <div class=" box-dimmed welcome_legend">
                
                <div class="row text-center">
                    <legend class="mb-4 mt-4">Project info</legend>
                    
                </div>

                <div class="row">
                    <div class="col">
                        <p style="font-size:115%; color:lightgray;" class="text-center">Features already included:</p>
                        
                        <small>
                            Post system<br>
                                - uploading media files, jpg's, mp3, mp4<br>
                                - <br><br>
                                
                            User system<br>
                                - registration and login systems <br>
                                - passwords stored as salted hashes <br>
                                - profile picture customization<br>
                                - updateing accound info<br>
                                - reset password functionality
                                - <br><br>
                                
                            Post comment system<br>
                                - it's simple - you cannot respond to another user comments<br>
                                - <br><br>
                                
                            Followers system<br>
                                - displaying lists of follower and following users<br>
                                - follow/unfollow routes<br>
                                - <br><br>
                        </small>
                    </div>

                    <div class="col">
                        <p style="font-size:110%;" class="text-center">Features that needs to be added:</p>
                        <small>
                            - Responsive mobile design<br>
                            - User bio backend<br>
                            - Sharing posts system<br>
                            - Messages system <br>
                            - Likes system <br>
                            - Uploading not only files but also links to external resources <br>
                            - interacting with posts from main view<br><br>
                        </small>

                        <p style="font-size:110%;" class="mt-5 text-center">Issues that needs to be fixed:</p>
                            <small>
                                - 2 differet comment views - with and without interaction <br>
                                - fixing mailer - system variables<br>
                                - userlist template for displaying followers and followed<br>
                                - <br><br>
                            </small>
                    <p>{{ url_for(request.endpoint) }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}





