{% extends "main/navbar.html" %}   <!--inheritance - child of layout.html-->

{% block content %}
    <div class="row mb-2 mt-2">
        <div class="input-group">
            <div class="col newest-followed-buttons mt-2 mb-1">

                <!-- following newest -->
                {% if url_for(request.endpoint) == '/home_followed' %}
                    <a class="following-newest-button-active mr-2 ml-1" href="{{ url_for('main.home_followed') }}">FOLLOWING</a>
                    <a class="following-newest-button-disabled" href="{{ url_for('main.home_newest') }}">NEWEST</small></a>
                {% elif url_for(request.endpoint) == '/home_newest' %}
                <a class="following-newest-button-active mr-2 ml-1" href="{{ url_for('main.home_newest') }}">NEWEST</small></a>
                <a class="following-newest-button-disabled " href="{{ url_for('main.home_followed') }}">FOLLOWING</a>
                {% endif %}

                <!-- newpost button -->
                <a class="newpost-button float-right" data-toggle="collapse" href="#new-post-collapse" aria-expanded="false" aria-controls="new-post-collapse"><i class="fas fa-pen pen-icon mr-1"></i> New Post </a>
            </div>
        </div>
    </div>

    <!-- newpost collapsing form -->
    <div class="collapse mb-3" id="new-post-collapse">
        <form id="newpost-form" method="POST" action="" enctype="multipart/form-data">

            {{ post_form.hidden_tag() }}
            <fieldset class="form-group">

                <!-- .title field validation -->
                <div class="form-group">
                    {% if post_form.title.errors %}
                        {{ post_form.title(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in post_form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ post_form.title(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <!-- description field validation -->
                <div class="form-group mt-4 mb-4">
                    {% if post_form.description.errors %}
                        {{ post_form.description(class="form-control is-invalid") }}
                        <div class="ivalid-feedback">
                            {% for error in description.form.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else%}
                        {{ post_form.description(class="form-control form-control-md") }} <!--passing form itself-->
                    {%endif%}
                </div>
            </fieldset>

            <div class="row justify-content-center">

                <!-- upload content field -->
                <div label="upload_content" class="row form-group">
                    {{ post_form.content(method="post", class="form-control-content form-control-sm ", enctype="multipart/form-data") }}
                    {% if post_form.content.errors %}
                        {% for error in post_form.content.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- submit button -->
                <div class="row form-group">
                    </i>{{ post_form.submit(class="btn btn-sm btn-success") }}
                </div>
            </div>
        </form>
    </div>


    {% include 'posts/view_posts.html' %}

{% endblock %}

