<!DOCTYPE html>
<html>
<head>
    <!-- BOOTSTRAP-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/136bdef65c.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='welcome_style.css') }}">
    {% if title %}
        <title>Soundgram - {{title}} </title>
    {% else %}
        <title>Soundgram</title>
    {% endif %}
</head>

<body> 
    <section>
        <main role="main" class="container">
            <div class="row ">
                <div class="col-md-1"></div>

                <!-- displaying flashed messages -->
                <div class="col-md-10">
                    {% with messages = get_flashed_messages(with_categories=true) %}<!--with_categories_true - grab bootstrap classes-->
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
    </section>
</body>
</html>