<!DOCTYPE html>
<html>
<head>
    <!-- BOOTSTRAP-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/136bdef65c.js"></script>
    {% if title %}
        <title>Soundgram - {{title}} </title>
    {% else %}
        <title>Soundgram</title>
    {% endif %}
</head>

<body> 
    <!--navbar-->
    <header class="site-header">
        <nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top">
            <div class="container">

                <a href="/" class="navbar-brand mb-0">SOUNDGRAM</a>
                <!--data-target attribute contains selector pointing to element that will be changed.-->

                <!-- navbar button -->
                <button label="menu_button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon"></span> <!-- menu button-->
                </button>

                <!-- responsive collapsing navbar top -->                
                <div class="collapse navbar-collapse" id="navbarToggle">

                    <!-- navbar top right -->
                    <div class="navbar-nav">
                        <nav id="navbar-expand" class="navbar navbar-expand-md navbar-dark fixed-top">
                            <div class="container">
                                <a class="navbar-brand" href="/">SOUNDGRAM</a>

                                <!-- navbar button -->
                                <button label="menu_button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <!-- responsive collapsing navbar top -->
                                <div class="collapse navbar-collapse" id="navbarToggle">

                                    <!-- navbar top left -->
                                    <div class="navbar-nav mr-auto mt-1">
                                        <a title="Home" class="nav-link navbar-button" href="/"><i class="fas fa-home mr-2"></i>HOME</a>
                                        <a title="About" class="nav-link navbar-button" href="/about">ABOUT</a>
                                    </div>

                                    <!-- navbar top right -->
                                    <div class="navbar-nav">
                                        <a title="Messages" class="nav-link navbar-button" href="{{ url_for('users.messages') }}">INBOX</a>
                                        <a title="Profile" class="nav-link navbar-button" href="{{ url_for('users.user_profile', username = current_user.username) }}">PROFILE</a>
                                        <a title="Sign out" class="nav-link navbar-button" href="{{ url_for('users.logout') }}">LOGOUT</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!--flashed messages, container-->
    <main role="main" class="container">
        <div class="row">

            <!-- displaying flashed messages -->
            <div class="col-auto box">
                {% with messages = get_flashed_messages(with_categories=true) %}<!--with_categories_true - allows to grab btstrp class-->
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                <li>{{ message }}</li>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                {% block content %}{% endblock %}   <!--child htmls are gonna override it-->
            </div>
        </div>
    </main>
        
        
        


    <!--bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>